<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Bisha.TI89Emu"
    android:installLocation="auto"
    android:versionCode="1134"
    android:versionName="1.1.3d" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="Graph 89 Free"
        android:theme="@style/Graph89Theme"
        android:supportsRtl="false">
        <activity
            android:name="com.graph89.emulationcore.EmulatorActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="Graph 89 Free">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.graph89.emulationcore.RomManagerActivity"
            android:theme="@style/Theme.AppCompat"
            android:label="ROM Manager" />
        <activity
            android:name="com.graph89.controls.FilePickerActivity"
            android:theme="@style/Theme.AppCompat"
            android:label="Add ROM" />
        <activity
            android:name="com.graph89.emulationcore.ConfigurationPage"
            android:theme="@style/Theme.AppCompat"
            android:label="Settings" />

        <!-- if (Build.VERSION.SDK_INT >= Build.VERSION_CODES.N) { -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <!-- }if (Build.VERSION.SDK_INT >= Build.VERSION_CODES.N) { -->
    </application>
</manifest>
